<app-menu-logo></app-menu-logo>

<ul>
  menu 1
  <ng-container *ngFor="let current of route">
  <li *ngIf="current.age >= 0"><a [routerLink]="current.url">{{current.name}}</a></li>
  </ng-container>

</ul>

